<div class="container">

<h1 class="display-4 mb-4 mx-auto text-center">API Keys</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Country</th>
      <th>API Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apikeys.each do |apikey| %>
      <tr>
        <td><%= apikey.country.name %></td>
        <td><%= apikey.apikey %></td>
        <td><%= link_to 'Edit', edit_apikey_path(apikey) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
